@use 'misc.scss';

#section_projects {  
    .side-left{
        span {
            background-color: #a3a3a357;
            padding: 5px 10px;
            border-radius: 10px;
        }
        p {
            max-width: 350px;
        }
    }
    .side-right{   
        position: relative;
        .hoverscreen{
            background-position: left,center;
            transition: 120ms ease-in-out;
            background-repeat: no-repeat;
            background-size: 100%, 30%;
            border-radius: 10px;
            position: absolute;
            height: 100%;
            z-index: 99;
            left: 24px;
            width: 0%;
            a {
                text-align: center;
                visibility: hidden;
                font-size: 3.5em;
                color: #000;
            }
            a:hover{
                font-size: 4em;
            }
            a p{
                font-size: 10px;
            }
        }
        img {
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);  
            border-radius: 10px;   
            max-width: 100%;
        }
    }
    .side-right:hover .hoverscreen{
        width: calc(100% - 23px);
        a {
            visibility: visible;
        }
    }

    // Project Specific:
    #project1 .side-right .hoverscreen{
        background-image: linear-gradient(45deg, rgba(117, 117, 117, 0.8), rgba(196, 218, 233, 0.8)), url(../assets/projects/InstantOcean_logo.svg);
    }
    #project3 .side-right .hoverscreen{
        background-image: linear-gradient(45deg, rgba(117, 117, 117, 0.8), rgba(196, 233, 208, 0.8)), url(../assets/projects/GM_logo.svg);
    }
    #project2 .side-right .hoverscreen{
        background-image: linear-gradient(45deg, rgba(117, 117, 117, 0.8), rgba(233, 216, 196, 0.8)), url(../assets/projects/Spotlight_logo.svg);
    }
}