#section_home {
  width: 100vw;
  height: calc(100vh - 60px);
}
#section_home h1 {
  font-family: "exwayer";
  font-size: 7em;
}

@font-face {
  font-family: "exwayer";
  src: url(font-Exwayer.ttf);
}
.styled_btn {
  border-color: linear-gradient(to right, #bbb238, #6e6700);
  background-color: #fff;
  color: #6e6700;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1.5px solid;
  font-size: 0.9rem;
  min-width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

.styled_btn:hover {
  background-image: linear-gradient(to right, #bbb238, #6e6700);
  border-width: 1px;
  color: #fff;
}

nav {
  position: relative;
  padding: 0 2rem;
  width: 100%;
  top: 0;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  color: #000;
}
nav a:hover {
  color: #6e6700;
}
nav a:after {
  background-color: #6e6700;
  position: absolute;
  transition: 0.3s;
  bottom: -10px;
  height: 3px;
  content: "";
  width: 0;
  left: 0;
}
nav a:hover:after {
  width: 100%;
}
nav .nav_horizontal {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 60px;
  width: 100%;
}
nav .nav_horizontal ul {
  margin-top: 15.5px;
  display: flex;
  gap: 2rem;
}
nav .nav_dropdown {
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: rgba(0, 0, 0, 0.02);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
  display: none;
  width: 300px;
  right: 2rem;
  height: 0;
  top: 60px;
}
nav .nav_dropdown li {
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  display: flex;
}
nav .nav_dropdown.open {
  padding-bottom: 250px;
  height: 240px;
}
nav .toggle_btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

footer {
  background-color: #3b3b3b;
  color: #e0e0e0;
  min-height: 7rem;
  margin: 0;
}
footer p {
  color: #9e9e9e;
}
footer a {
  color: rgb(126, 126, 126);
  text-decoration: none;
  margin: 5px 10px;
  font-size: 40px;
}

#section_about {
  background-color: rgba(112, 112, 112, 0.8156862745);
  padding-bottom: 80px;
  color: #fff;
}
#section_about .container {
  padding: 0px 100px;
  max-width: 50rem;
}
#section_about #about_icon {
  background-image: url(../assets/SVG/iconAbout.svg);
}
#section_about .styled_btn {
  background-color: rgba(255, 255, 255, 0.5411764706);
  transition: all 0.5s;
  margin-top: 5px;
  border: none;
}

#section_contact {
  background-color: rgba(80, 80, 80, 0);
  padding-bottom: 80px;
}
#section_contact .container {
  padding: 0px 100px;
  max-width: 50rem;
}
#section_contact form {
  border: #6e6700 1px dashed;
  background-color: rgba(228, 228, 228, 0.568627451);
  margin-bottom: 26px;
  border-radius: 10px;
  padding: 25px;
}
#section_contact form p {
  margin-bottom: 0px;
}
#section_contact h6 {
  margin-bottom: 24px;
}
#section_contact .contact_focus:focus {
  border: 1px solid #6e6700;
  box-shadow: none;
  outline: none;
}

#section_projects .side-left span {
  background-color: rgba(163, 163, 163, 0.3411764706);
  padding: 5px 10px;
  border-radius: 10px;
}
#section_projects .side-right {
  position: relative;
}
#section_projects .side-right .hoverscreen {
  background-position: left, center;
  transition: 120ms ease-in-out;
  background-repeat: no-repeat;
  background-size: 100%, 30%;
  border-radius: 10px;
  position: absolute;
  height: 100%;
  z-index: 99;
  left: 24px;
  width: 0%;
}
#section_projects .side-right .hoverscreen a {
  text-align: center;
  visibility: hidden;
  font-size: 3.5em;
  color: #000;
}
#section_projects .side-right .hoverscreen a:hover {
  font-size: 4em;
}
#section_projects .side-right .hoverscreen a p {
  font-size: 10px;
}
#section_projects .side-right img {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  max-width: 100%;
}
#section_projects .side-right:hover .hoverscreen {
  width: calc(100% - 23px);
}
#section_projects .side-right:hover .hoverscreen a {
  visibility: visible;
}
#section_projects #project1 .side-right .hoverscreen {
  background-image: linear-gradient(45deg, rgba(117, 117, 117, 0.8), rgba(196, 233, 208, 0.8)), url(../assets/projects/GM_logo.svg);
}
#section_projects #project2 .side-right .hoverscreen {
  background-image: linear-gradient(45deg, rgba(117, 117, 117, 0.8), rgba(196, 218, 233, 0.8)), url(../assets/projects/Asteroids_logo.svg);
}
#section_projects #project3 .side-right .hoverscreen {
  background-image: linear-gradient(45deg, rgba(117, 117, 117, 0.8), rgba(198, 196, 233, 0.8)), url(../assets/projects/ManageU_logo.svg);
}

#section_skills {
  background-color: rgba(112, 112, 112, 0.8156862745);
  color: #fff;
}
#section_skills .skills_box {
  margin-bottom: 50px;
  position: relative;
}
#section_skills .skills_box #backend_icon {
  background-image: url(../assets/SVG/iconBackend_SVG.svg);
}
#section_skills .skills_box #frontend_icon {
  background-image: url(../assets/SVG/iconFrontend_SVG.svg);
}
#section_skills .skills_box #more_icon {
  background-image: url(../assets/SVG/iconMore_SVG.svg);
}
#section_skills .skills_box h2 {
  margin-bottom: 28px;
  margin-top: 14px;
}

html {
  scroll-behavior: smooth;
}

main {
  position: absolute;
}

body {
  animation: transitionOnLoad 0.75s;
  overflow-x: hidden;
  margin: 0;
}

canvas {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}

.title_vertical h1 {
  margin-left: 10px;
}

.background_icon {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  fill-opacity: 0.1;
  height: 300px;
  width: 300px;
  z-index: -1;
  scale: 1.1;
}

@media (max-width: 768px) {
  .nav_horizontal .links,
  .nav_horizontal .styled_btn {
    display: none;
  }
  .nav_horizontal .toggle_btn {
    display: block !important;
  }
  .nav_dropdown {
    display: block !important;
  }
}
@media (max-width: 576px) {
  .nav_dropdown {
    width: unset !important;
    left: 2rem;
  }
}
@media (max-width: 576px) {
  #section_projects .title_vertical {
    margin-right: 100px;
  }
  #section_projects {
    margin-bottom: 40px;
  }
  #section_about .container {
    padding: 5px;
  }
  #section_contact .container {
    padding: 20px;
    margin-top: 16px;
  }
}
@media (min-width: 576px) {
  .container {
    padding: 0px 100px;
  }
  .title_vertical {
    transform: rotate(270deg);
    position: relative;
    display: block;
    width: 100px;
    top: 100px;
  }
  #section_skills .container {
    padding: 0px;
  }
  #section_skills .title_vertical {
    top: 140px;
  }
  #section_projects .title_vertical {
    margin-bottom: 20px;
    top: 250px;
  }
  #section_about .title_vertical {
    margin-bottom: 20px;
    top: 200px;
  }
  #section_contact .title_vertical {
    top: 250px;
  }
}
@media (min-width: 768px) {
  #section_skills {
    padding-bottom: 56px;
  }
  #section_projects {
    margin-bottom: 120px;
  }
}
@media (max-width: 680px) {
  #section_home h1 {
    font-size: 17vw !important;
  }
}
.fade-in {
  transition: opacity 250ms ease-in;
  opacity: 0;
}

.fade-in.appear {
  opacity: 1;
}

.slide-left {
  transition: transform 380ms ease-in, opacity 300ms ease-in;
  transform: translateX(-20%);
  opacity: 0;
}

.slide-left.appear {
  transform: translateX(0);
  opacity: 1;
}

@keyframes transitionOnLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */